<!DOCTYPE html>
<!-- base template through whichh all the other pages inherit -->

<html lang="en">
<head>
    {% block head %}{% endblock head %}<!-- head block for django -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title><!-- title block for django -->
    {% load staticfiles %}<!-- load static files, custom css,js -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom CSS loading from django served static files -->
    <link href="{% static "assets/css/sb-admin.css" %}" rel="stylesheet">
    <!-- style block to include text/css -->
    <style type="text/css">
        {% block style %} {% endblock %}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header" style='overflow:hidden;'><!-- top navbar -->
                {# <a class="navbar-brand" href="/home/">Zomato Book</a> #}
                <a class="navbar-brand" href="/home/"><img src="{% static "assets/img/zomato_book_logo.png" %}" style="max-width:230px;max-height:30px;"></a>

                <ul class="nav navbar-nav">
                    <li {% block restaurantsListActive %}{% endblock restaurantsListActive %}><a href="/restaurants/">Restaurants</a></li>
                </ul>
                {% block topNav %}
                    
                {% endblock topNav %}
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav"><!-- side navbar -->
                    {% block side %}{% endblock %}
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    {% block pageHeading %}{% endblock %}<!-- heading block -->
                </div>
                <hr>
                {% block mainContent %}{% endblock %}<!-- Main Content Block -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- block to include js in text -->
    <script type="text/javascript"> 
    {% block script %}{% endblock %}
    </script>
    <!-- block to include js files -->
    {% block scriptFile %}
    {% endblock scriptFile %}
</body>
</html>
