<!-- this shows the list of the rooms in a rastaurant -->
{% extends "base.html" %}
{% block title %}
    Rooms in {{restaurant.name}}
{% endblock %}
<!--{% block activeSideNavHome %}class="active"{% endblock %} make restaurants tab active in top nav -->

{% block pageHeading %}
<div class="col-lg-12">
    <h1 class="page-header">
        {{restaurant}} <small>Rooms</small>
    </h1>
</div>
{% endblock %}
{% block topNav %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a></li>
    </ul>
{% endblock topNav %}


{% block mainContent %}
    {%for room in rooms%}<!-- iterating over rooms, creating a panel for each -->
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{room.name}}</div>
                            <div><span id="tab{{room.id}}" style="color: white"></span> Tables</div>
                            <div><span id="cap{{room.id}}" style="color: white"></span> Seater</div>

                        </div>
                    </div>
                </div>
                <a href="room/{{room.id}}">
                    <div class="panel-footer">
                        <span class="pull-left">View Layout</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    {%endfor%}
    <!-- Add room panel -->
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <a href="restaurant/{{restaurant.id}}/room/add/"></a><div class="huge">Add Room</div><!-- link to add room endpoint -->
                    </div>
                </div>
            </div>
            <a href="/restaurant/{{restaurant.id}}/room/add/">
                <div class="panel-footer">
                    <span class="pull-left">Create Layout</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
{% block script %}

$( document ).ready(function(){
    
{% for room in rooms%}
    var cap = 0;
    $("#tab{{room.id}}")[0].innerText = {{room.tables.count}};
    {% for t in room.tables.all %} 
        cap+=parseInt({{t.chairs}},10);
    {% endfor %}
    $("#cap{{room.id}}")[0].innerText = cap;
{% endfor %}

    
    console.log(cap);
});
    
{% endblock script %}

