<!-- To show the the layout of the rooms -->
{% extends "base.html" %}
{% block title %}
    {{room.name}} | {{restaurant.name}}
{% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static "assets/js/shapes.js"%}" ></script>
{% endblock head %}

{% block pageHeading %}
    <h1>
        {{room.name}} <small>{{restaurant.name }}</small>
    </h1>
{% endblock %}
{% block style %}
.fa-rotate-45 {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);} 
.fa-rotate-135 {-webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); -ms-transform:rotate(135deg); -o-transform:rotate(135deg); transform:rotate(135deg);} 
{% endblock style %}
{% block topNav %}
    <ul class="nav navbar-nav">
        <li><a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/restaurant/{{restaurant.id}}/room/{{room.id}}">{{room.name}}</a></li>
    </ul>
{% endblock topNav %}

{% block side %}<!-- filling the side block with all controls -->
    <div class="container-fluid">
        <!-- adding all butttons with their onclick listeners inline to add tables of corrsponding shape to canvas -->
        <div class="row">
            <div class="col-md-6">
                <button type="button" style="width:100%;" class="btn btn-default" onclick="createNewTableCircle()">
                    Circle
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" style="width:100%;" class="btn btn-default" onclick="createNewTableSquare()">
                    Square
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="button" style="width:100%;" class="btn btn-default" onclick="createNewTableHRect()">
                    HRect
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" style="width:100%;" class="btn btn-default" onclick="createNewTableVRect()">
                    VRect
                </button>
            </div>
        </div>
        <br>
        <div class="row" style="color:#FFFFFF;" >
            <form class="form-inline"><!-- form handling the display and editing of the properties of selected table -->
              <div class="form-group">
                <label for="textBoxName" >Name of Table</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxName" placeholder="Table">
              </div><br>
              <div class="form-group">
                <label for="textBoxType" >Shape of Table</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxType" placeholder="Shape" readonly>
              </div><br>
              <div class="form-group">
                <label for="textBoxX" >X Position</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxX" placeholder="X Position">
              </div><br>
              <div class="form-group">
                <label for="textBoxY" >Y Position</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxY" placeholder="Y Position">
              </div><br>
              <div class="form-group">
                <label for="textBoxSize" >Size of Table</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxSize" placeholder="Size">
              </div><br>
              <div class="form-group">
                <label for="textBoxRotation" >Rotation</label>
                <div class="container-fluid">
                        <div class="col-md-2" onclick="selectedTable.rotation=(selectedTable.rotation-45+180)%180;showProperties(selectedTable);enableRefresh()"><i class="fa fa-undo"></i></div>
                        <div class="col-md-2" onclick="selectedTable.rotation=0;showProperties(selectedTable);enableRefresh()"><i class="fa fa-battery-empty fa-rotate-0"></i></div>
                        <div class="col-md-2" onclick="selectedTable.rotation=90;showProperties(selectedTable);enableRefresh()"><i class="fa fa-battery-empty fa-rotate-90"></i></div>
                        <div class="col-md-2" onclick="selectedTable.rotation=45;showProperties(selectedTable);enableRefresh()"><i class="fa fa-battery-empty fa-rotate-45"></i></div>
                        <div class="col-md-2" onclick="selectedTable.rotation=135;showProperties(selectedTable);enableRefresh()"><i class="fa fa-battery-empty fa-rotate-135"></i></div>
                        <div class="col-md-2" onclick="selectedTable.rotation=(selectedTable.rotation+45)%180;showProperties(selectedTable);enableRefresh()"><i class="fa fa-repeat"></i></div>
                </div>  
                <input type="text" style="width:100%;" class="form-control" id="textBoxRotation" onchange="validateRotation()" placeholder="In Degrees" maxlength="3">
              </div>
              <div class="form-group">
                <label for="textBoxChairs" ># Chairs</label>
                <input type="text" style="width:100%;" class="form-control" id="textBoxChairs" placeholder="Size">
              </div><br>
            </form>
            <br>
            <button class="btn btn-success" id="buttonUpdate" style="width:100%;" onclick="updateTable()">Update</button>
        </div>
    </div>
{% endblock %}

{% block mainContent %}    
    <div>
        <canvas id="canvasMain" width="1175" height="500" style="border: 1px solid #666666"></canvas>
    </div>
{% endblock %}

{% block script %}
    $( document ).ready(function() {        
        {% for t in tables %}
            tab=JSON.parse('{{t|safe}}');
            addTable(tab.name, parseInt(tab.xpos,10), parseInt(tab.ypos,10), tab.type, parseInt(tab.size,10), parseInt(tab.rotation,10),parseInt(tab.chairs,10), parseInt(tab.id,10));
        {% endfor %}
        initCanvas();
    });
{% endblock %}



