{%extends "base.html"%}
{% block pageHeading %}
	<h1>
	List of Restaurants
	</h1>
{% endblock %}

{% block restaurantsListActive %}
	class="active"
{% endblock restaurantsListActive %}

{% block title %}
	List of Restaurants	
{% endblock title %}

{% block mainContent %}
	<form class="form-inline" role="form" method="post" action="/restaurant/add/">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" name="name">
		</div>
		<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add New </button>
	</form>
	<br>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Number of Rooms</th>
			</tr>
		</thead>
		<tbody>
		{%for r in restaurants%} <!-- iterating over restaurants and creating a row of table for each -->
			<tr>
				<td><a href="/restaurant/{{r.id}}">{{r.name}}</a></td>
				<td>{{r.rooms.count}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
