body {
  padding-top: 50px;
}
/*.btn.outline {
    background: none;
    padding: 12px 22px;
}
.square
{
    padding: 24px 12px;
    margin: 0 5px;  
    border-radius: 0;
}
.circle
{
  height:50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 25px;
}*/