<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    {% load staticfiles %}
    <script src="{% static "assets/js/shapes.js"%}" ></script>

</head>


<body onload="initCanvas()">

    <div>
        <canvas id="canvasMain" width="400" height="400" style="border: 1px solid #666666"></canvas>
    </div>

    <div>
        <input id="buttonAddCircle" type="button" value="Add Circle" onclick="createNewTableCircle()" /><br />
        <input id="buttonAddSquare" type="button" value="Add Square" onclick="createNewTableSquare()" /><br />
        <br />

        <table style="width: 300px;">
            <tr>
                <td>X</td>
                <td><input id="textBoxX" type="text"/></td>
            </tr>
            <tr>
                <td>Y</td>
                <td><input id="textBoxY" type="text" /></td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input id="textBoxWidth" type="text" /></td>
            </tr>
            <tr>
                <td>Height</td>
                <td><input id="textBoxHeight" type="text" /></td>
            </tr>
            <tr>
                <td>Rotation</td>
                <td><input id="textBoxRotation" type="text" /></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input id="textBoxColor" type="text"/></td>
            </tr>
        </table>
        <input id="buttonUpdate" type="button" value="Update" onclick="updateTable()" />
    </div>
    x:<input id="mouseX" type="text"/>
    y:<input id="mouseY" type="text"/>


</body>
</html>
